.navbar-default .navbar-brand {
	color: #4884B8;
	font-size: 28px;
}

#icon {
	max-height: 50px;
	padding-right: 20px;
	float: left;
}

#butn {
	padding-top: 25px;
	padding-bottom: 40px;
}

.h3 {
	color: blue;
}

#screenshot {
	max-height: 400px;
	padding-bottom: 10px;
	padding-top: 25px;
}

#video {
	max-height: 400px;
}